.lang_container {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin: 15px 40px 15px 15px;
}
.lang_button {
  border: none;
  background: transparent;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
  text-transform: uppercase;
}

.lang_button:hover {
  color: #d4a245;
}

.lang_button.active {
  color: #d4a245;
}
@media (max-width: 768px) {
  .lang_button {
    font-size: 18px;
  }
  .lang_container {
    margin: 10px;
  }
}
@media (max-width: 600px) {
  .lang_container {
    max-width: 30%;
  }
}