.footer {
  background: rgb(19, 19, 19);
  display: flex;
  align-items: center;
}
.footer_wrapper {
  width: calc(90% - 150px);
  margin: 0 auto;
  padding: 20px 0;
}
.contact_link {
  color: white;
  transition: all 0.3s ease;
}
.contact_link:hover {
  color: #d4a245;
  transform: scale(1.1);
}
.footer_contacts {
  display: flex;
  flex-direction: column;
}
.footer_title {
  font-size: 24px;
}
.contact_link {
  color: white;
  transition: all 0.3s ease;
  margin-left: 5px;
}
.contact_link svg {
  height: auto;
  width: 30px;
}
.footer_contacts div {
  display: flex;
  align-items: center;
}
.footer_logo {
  width: 150px;
}
@media (max-width: 768px) {
  .link_wrapper {
    width: 45%;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 560px) {
  .link_wrapper {
    width: 80%;
  }
}
